[sslConfig]
sslKeysfilePassword = $1$8HNrD/sW/OEp

[lmpool:auto_generated_pool_download-trial]
description = auto_generated_pool_download-trial
quota = MAX
slaves = *
stack_id = download-trial

[lmpool:auto_generated_pool_forwarder]
description = auto_generated_pool_forwarder
quota = MAX
slaves = *
stack_id = forwarder

[lmpool:auto_generated_pool_free]
description = auto_generated_pool_free
quota = MAX
slaves = *
stack_id = free

[license]
active_group = Forwarder

[general]
pass4SymmKey = $1$pz8/U75Qt7Mp
serverName = iad01-mail01
