# Kickstart with Ansible

install
{% if "vmware_guest_os_id" == "centos64Guest" %}
#cdrom
url --url http://10.24.128.30/ks_mirror/centos6_x86_64
{% else %}
cdrom
#url --url http://10.24.128.30/ks_mirror/rhel6u5_x86_64
{% endif %}
text
lang en_US.UTF-8
keyboard us
network --onboot yes --device eth0 --bootproto dhcp --noipv6
rootpw  --iscrypted $6$IZDZ68vvgZKqhT8O$WniI3HhkwTqLAiMsUThi.r74kd0.m9ZNhkeyXX3MmIn5A0YtnM2cJOQlJGyDf5Ecad1gWPdqrdEcUNyqzxZ.11
firewall --service=ssh
authconfig --enableshadow --passalgo=sha512
selinux --disabled
timezone --utc America/New_York
bootloader --location=mbr --driveorder=sda --append="crashkernel=auto"
# The following is the partition information you requested
# Note that any partitions you deleted are not expressed
# here so unless you clear all partitions first, this is
# not guaranteed to work
clearpart --all --drives=sda
zerombr yes
reboot

{% if "vmware_disk02_size_gb" %}
part /boot --fstype=ext4 --size=500
part pv.1 --grow --size=1 --ondisk=sda
part pv.2 --grow --size=1 --ondisk=sdb
volgroup vg_system --pesize=4096 pv.1
volgroup vg_home --pesize=4096 pv.2
logvol / --fstype=ext4 --name=root --vgname=vg_system --grow --size=1024
logvol swap --name=swap --vgname=vg_system --grow --size=2076 --maxsize=2076
logvol /home --name=home --vgname=vg_home --grow --size=1024

{% else %}
part /boot --fstype=ext4 --size=500
part pv.1 --grow --size=1
volgroup vg_system --pesize=4096 pv.1
logvol / --fstype=ext4 --name=root --vgname=vg_system --grow --size=1024
logvol swap --name=swap --vgname=vg_system --grow --size=2076 --maxsize=2076
{% endif %}

%packages --ignoremissing --nobase
@Core
@base

%post
mkdir -p /root/.ssh
touch /root/.ssh/authorized_keys

echo "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEArWfGBBHr8ei/RtA72oJclZAqz1sea4PfO5ghwsUASBVsW29Qd0KCutr36xIEZ1kEhq460LbLcvUy3N27sIOzjyalicjwYuhNdd2udHMQmnVdprp+tBO9bO0TwRiSYUOowD0r/us7+UZAs4evWqYmPlCUj4nQcffLrxsX+O4gzCPCUrcKrE46aV5jGDWLmkceNrxxhfMARiGNvKlqyLXAOmz5vHKOXmbKtzBgeKejzW5JkJyNKGf1TEC/jePoXo0xeRHlP2MPagPFZBOMgTDMlpcbxktub28T+s4Oh5E28xDnfq1FPdyiRJDj36bLrRN+B6mAqbUO9KoDWGa1zQrNZw== root@sjc1du-ansible01.emt.hobsons.local" >> /root/.ssh/authorized_keys

chmod 700 /root/.ssh
chmod 600 /root/.ssh/authorized_keys

yum -y install bind-utils
yum -y install https://packages.vmware.com/tools/esx/5.5u3/repos/vmware-tools-repo-RHEL6-9.4.15-1.el6.x86_64.rpm
yum -y install vmware-tools-esx-nox

curl -o /root/firstrun.sh http://ansible-kick.emt.hobsons.local/firstrun.sh
sh /root/firstrun.sh
%end
